CustomAction1/Service References/ApplicationSettingsService/ApplicationSettings31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devapp.dfg.local/SettingsService/ApplicationSettings.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationConfigSettings" />
  <xs:element name="GetApplicationSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApplicationConfigSettings" minOccurs="0" name="env" type="q1:EnvironmentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApplicationConfigSettings" minOccurs="0" name="GetApplicationSettingsResult" nillable="true" type="q2:ArrayOfSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>